@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,200&family=Roboto+Slab:wght@200;300;400;500&family=Special+Elite&family=Dancing+Script:wght@700&display=swap');
/* font-family: 
font-family: 'Flamenco', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Special Elite', cursive; 
font-family: 'Dancing Script', cursive; */


.homepage {
    background: #fafafa;
}
/* --nav bar-- */
.topbar {
    background-color: #fafafa;
}
#navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-bottom: solid 2.5px #73ad21;
}
.nav-item {
    padding: 10px 20px;
}
.hero-image {
    width:100%;
    height:600px;
    background: url("../images/homepage/walking4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: scroll;
    margin-top: 15px;
    margin-bottom: 15px;
}
.hero-image-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-image-text h1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    color: #fafafa;
    padding-bottom: 10px;
}
.hero-image-text h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding-left: 180px;
    color: #49dde7;
    background-color: rgba(7, 7, 7, 0.5);
    padding-top: 5px;
    padding-bottom: 5px;
}
.hero-image-text h5 {
    text-align: center;
    font-family: 'Flamenco', cursive;
    font-size: 34px;
    font-style: italic;
    margin-top: 60px;
    margin-bottom: -55px;
    color: #fafafa;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px rgba(173, 169, 169, 0.822);
}
/* --Welcome section-- */
.welcome {
    border-top: solid 2.5px #73ad21;
    padding-top: 50px;
    border-bottom: solid 2.5px #73ad21;
    padding-bottom: 50px;
    margin-bottom: 40px;
}
.welcome-letter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 2px solid grey;
    box-shadow: 5px 10px 20px #73ad21;
}
.welcome-letter p {
    padding: 5px 15px;
}
.welcome-letter .topofletter {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgb(30, 50, 60);
    padding-top: 50px;
}
.welcome-letter img {
        float: right;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
        border-radius: 110px 110px 110px 0px;
        width: 300px;
        height: auto;
}
.welcome-letter h6 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin: 40px;
}
/* --links to services pages-- */
.servcies-section {
    margin-top: 20px;
    margin-bottom: 20px;
}
.services-section {
    position: relative;
}
.services-section img {
    width: 100%;
    height: 450px;
    padding: 10px;
}
.image-text {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin: 10px;
}
.image-text a {
    color: white;
}
/* --footer-- */
.footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-top: solid 2.5px #73ad21;
    padding-top: 20px;
    margin-top: 20px;
}
.footer p a {
    color: black;
}
.footer p i {
    color: #771377;
}
.footer p a i {
    color: #771377;
}
#copywrite {
    font-size: small;
}
/* --other pages headers-- */
.other-header {
    width:100%;
    height:auto;
    background: url("../images/subpagebground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
}
.other-header-text h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    color: #fafafa;
    padding-bottom: 10px;
    padding-top: 40px;
}
.other-header-text h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding-left: 180px;
    color: #49dde7;
    background-color: rgba(7, 7, 7, 0.3);
    padding-top: 5px;
    padding-bottom: 5px;
}
.other-header-text h5 {
    text-align: center;
    font-family: 'Flamenco', cursive;
    font-size: 34px;
    font-style: italic;
    color: #fafafa;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px rgba(173, 169, 169, 0.822);
    padding-bottom: 20px;
}

/* --about me-- */

/* --services page-- */
.services-tabs {
    border-top: solid 2.5px #73ad21;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 40px;
}
.bar-item {
    color: #fafafa;
    background-color: #a78aa791;
    border: none;
    padding: 10px;
    padding-right: 75px;
}
.bar-item:hover {
    color: black;
    background-color: #460c4681;
}
.services-container h2 {
    text-align: center;
    margin-top: 60px;
    font-family: 'Special Elite', cursive;
    font-size: 50px;
    border-bottom: solid 0.5px #460c4681;
}
.services-container h6 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding-top: 30px;
    padding-bottom: 30px;
}
.services-container p {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

/* --contact page-- */