@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,200&family=Roboto+Slab:wght@200;300;400;500&family=Special+Elite&family=Dancing+Script:wght@700&display=swap');
/* font-family: 
font-family: 'Flamenco', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Special Elite', cursive; 
font-family: 'Dancing Script', cursive; */


.homepage {
    background: #fafafa;
}
/* --nav bar-- */
.topbar {
    background-color: #fafafa;
}
#navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-bottom: solid 2.5px #73ad21;
}
.nav-item {
    padding: 10px 20px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 25px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #396d16c9;
    font-family: 'Comfortaa', cursive;
    color: #fafafa;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
}
#myBtn:hover {
  background-color: #555;
}
.hero-image {
    width:100%;
    height:480px;
    background: url("../images/homepage/walking4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-image-text h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    color: #fafafa;
    margin-top: 175px;
    padding-bottom: 0px;
}
.hero-image-text h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 5px;
    padding-left: 150px;
    color: #49dde7;
    background-color: rgba(7, 7, 7, 0.5);
}
.hero-image-text h5 {
    text-align: center;
    font-family: 'Flamenco', cursive;
    font-size: 25px;
    font-style: italic;
    margin-top: 35px;
    margin-bottom: 25px;
    color: #fafafa;
    padding-left: 0px;
    padding-right: 0px;
    text-shadow: 1px 1px rgb(173 169 169 / 82%);
}
/* --Welcome section-- */
.welcome {
    border-top: solid 2.5px #73ad21;
    padding-top: 50px;
    border-bottom: solid 2.5px #73ad21;
    padding-bottom: 50px;
    margin-bottom: 40px;
}
.welcome-letter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 2px solid grey;
    box-shadow: 5px 10px 20px #73ad21;
}
.welcome-letter p {
    padding: 5px 15px;
}
.welcome-letter .topofletter {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgb(30, 50, 60);
    padding-top: 50px;
}
.welcome-letter img {
        float: right;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
        border-radius: 110px 110px 110px 0px;
        width: 300px;
        height: auto;
}
.welcome-letter h6 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin: 40px;
}
/* --links to services pages-- */
.services-section {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.services-section img {
    width: 100%;
    height: 450px;
    padding: 10px;
}
.image-text {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin: 10px;
}
.image-text a {
    color: white;
}
.text-center {
    margin: 45px 45px 40px 40px;
}
.carousel-item {
    background: #8d9c7986;
}
.blockquote p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 80px;
}
.blockquote-footer b {
    font-family: 'Special Elite', cursive;
    color: #fafafa;
    font-size: 22px;
    padding-left: 15px;
}
/* --footer-- */
.footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-top: solid 2.5px #73ad21;
    padding-top: 20px;
    margin-top: 50px;
}
.footer p a {
    color: black;
}
.footer p i {
    color: #771377;
}
.footer p a i {
    color: #771377;
}
#copywrite {
    font-size: small;
}
/* --other pages headers-- */
.other-header {
    width:100%;
    height:auto;
    background: url("../images/subpagebground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
}
.other-header-text h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    color: #fafafa;
    margin-top: 100px;
    padding-bottom: 0px;
}
.other-header-text h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 5px;
    padding-left: 150px;
    color: #49dde7;
    background-color: rgba(7, 7, 7, 0.5);
}
.other-header-text h5 {
    text-align: center;
    font-family: 'Flamenco', cursive;
    font-size: 25px;
    font-style: italic;
    margin-top: 35px;
    margin-bottom: 25px;
    color: #fafafa;
    padding-left: 0px;
    padding-right: 0px;
    text-shadow: 1px 1px rgb(173 169 169 / 82%);
}

/* --about me-- */

/* --services page-- */
.services-tabs {
    border-top: solid 2.5px #73ad21;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 40px;
}
/* .services-bar {
    background-color: #55285577;
} */
.bar-item {
    /* float: left; */
    background-color: #8d9c7986;
    color: rgb(114, 110, 110);
    border: none;
    padding: 10px;
    padding-right: 75px;
}
.bar-item:hover {
    color: #fafafa;
    background-color: #460c4681;
}
.bar-item:active {
    color: black;
    background-color: #460c4681;
}
.services-container {
    text-align: center;
}
.services-container h2 {
    text-align: center;
    margin-top: 100px;
    font-family: 'Special Elite', cursive;
    font-size: 50px;
    border-bottom: solid 0.5px #460c4681;
    margin-bottom: 35px;
}
.services-container h4 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #73ad21;
    font-style: bold;
    padding-top: 30px;
    padding-bottom: 20px;
}
.services-container h5 {
    text-align: center;
    color: rgba(91, 44, 177, 0.966);
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
}
.services-container h6 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding-top: 30px;
    font-size: 40px;
}
.services-container p {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding: 10px 15px;
}
.services-container ol li {
    font-family: 'Roboto Slab', serif;
    padding: 10px 15px;
}
.services-container p a {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    background-color: pink;
    border: none;
    color: darkgoldenrod;
  }
.servicesimage1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-bottom: 20px;
}
.servicesimage2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-bottom: 20px;
}

/* --contact page-- */